<div class="container">
  <h1>{{ title }}</h1>
  <form (submit)="send()">
    <mat-form-field appearance="fill">
      <mat-label>Nombre</mat-label>
      <input type="text" maxlength="150" name="nombre" matInput />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Teléfono</mat-label>
      <input type="number" maxlength="150" name="nombre" matInput />
      <span matTextPrefix>+52</span>
    </mat-form-field>

    <!-- Nombre:<input type="text" name="nombre" /><br />
    E-mail:<input type="text" name="email" /><br />
    Teléfono:<input type="text" name="telefono" /><br />
    Fecha:<input type="text" name="fecha" /><br />
    Ciudad y Estado:<input type="text" name="ciudad" /><br />
    <input type="sumbit" value="Enviar" /> -->
  </form>
</div>
